body{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.container{
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 768px){
  .container{
    flex-direction: column;
  }
}
